Repository hanskym/linkbio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0

feat: create initial UI
  .prettierrc.json
  .vscode/settings.json
  astro.config.mjs
  bun.lock
  eslint.config.js
  package.json
  public/jakarta-map.png
  src/components/Cta.astro
  src/components/Featured.astro
  src/components/Footer.astro
  src/components/Links.astro
  src/components/Profile.astro
  src/components/Welcome.astro
  src/layouts/Layout.astro
  src/layouts/Main.astro
  src/lib/utils.ts
  src/pages/index.astro
  src/styles/globals.css
Due: prettier --write, eslint --max-warnings=0

refactor: create reusable UI components
  src/components/Cta.astro
  src/components/Featured.astro
  src/components/Links.astro
  src/components/Profile.astro
  src/components/ui/Badge.astro
  src/components/ui/Card.astro
  src/components/ui/FeaturedItem.astro
  src/components/ui/LinkItem.astro
  src/components/ui/StatItem.astro
  src/pages/index.astro
  src/styles/globals.css
Due: prettier --write, eslint --max-warnings=0

refactor: update styles and animations
  src/components/Profile.astro
  src/components/ui/LinkItem.astro
  src/components/ui/StatItem.astro
  src/pages/index.astro
  src/styles/globals.css
Due: prettier --write, eslint --max-warnings=0

feat: add theme support
  src/components/ThemeManager.astro
  src/components/ThemeSelector.astro
  src/env.d.ts
  src/layouts/Main.astro
Due: prettier --write, eslint --max-warnings=0

fix: code adjustment
  src/components/Featured.astro
  src/components/Profile.astro
  src/components/ThemeSelector.astro
  src/components/ui/FeaturedItem.astro
  src/components/ui/LinkItem.astro
  src/components/ui/StatItem.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/styles/globals.css
Due: prettier --write, eslint --max-warnings=0

feat: setup SEO metadata and site files
  astro.config.mjs
  bun.lock
  package.json
  public/apple-touch-icon.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/opengraph.png
  public/robots.txt
  public/site.webmanifest
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/components/SEO.astro
  src/layouts/BaseLayout.astro
Due: prettier --write, eslint --max-warnings=0

feat: implement metadata handling for SEO and social sharing
  src/components/Metadata.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/types/metadata.ts
Due: prettier --write, eslint --max-warnings=0

feat: add LinkButton component and media card
  src/components/ui/LinkButton.astro
  src/pages/index.astro
Due: prettier --write, eslint --max-warnings=0

feat: add example page layouts
  src/components/Profile.astro
  src/components/ui/Badge.astro
  src/components/ui/Card.astro
  src/components/ui/FeaturedItem.astro
  src/components/ui/LinkButton.astro
  src/components/ui/StatItem.astro
  src/components/ui/StoryItem.astro
  src/layouts/BaseLayout.astro
  src/pages/basic.astro
  src/pages/index.astro
  src/pages/minimal.astro
  src/styles/globals.css
Due: prettier --write, eslint --max-warnings=0

chore: deploy to Cloudflare
  astro.config.mjs
  bun.lock
  package.json
Due: prettier --write

fix: remove eslint-plugin-tailwindcss due to v4 conflict
  bun.lock
  package.json
Due: prettier --write

fix: update banner gradient colors
  src/components/Profile.astro
  src/styles/globals.css
Due: prettier --write, eslint --max-warnings=0

docs: update README.md
  README.md
Due: prettier --write

fix: code adjustment
  .prettierrc.json
  astro.config.mjs
  src/components/Footer.astro
  src/components/ui/StoryItem.astro
  src/pages/basic.astro
  src/pages/index.astro
  src/pages/minimal.astro
Due: prettier --write, eslint --max-warnings=0

fix: update siteConfig URL
  astro.config.mjs
  public/robots.txt
Due: none

Path conditions:
  prettier --write: (any of: *.{astro,js,ts}) or (any of: *.{html,css,scss,json,md,mdx})
  eslint --max-warnings=0: any of: *.{astro,js,ts}
